<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/Livescribe/Tomcat/Logs/camel-scratch-error.log" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%25c{1}] - %m%n" />
        </layout>
    </appender>

    <appender name="logfileall" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/Livescribe/Tomcat/Logs/camel-scratch-all.log" />
        <param name="Threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%25c{1} [%30t]] - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMax" value="fatal" />
            <param name="AcceptOnMatch" value="true" />
        </filter> 
        <filter class="org.apache.log4j.varia.DenyAllFilter" />
    </appender>

    <appender name="APP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/Livescribe/Tomcat/Logs/camel-scratch-app.log" />
        <param name="Threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%25c{1}] - %m%n" />
        </layout>
    </appender>

<!--     <appender name="CAMEL" class="org.apache.log4j.sift.MDCSiftingAppender"> -->
<!--         <param name="File" value="/Livescribe/Tomcat/Logs/camel-scratch-camel.log" /> -->
<!--         <param name="Threshold" value="debug" /> -->
<!--         <layout class="org.apache.log4j.PatternLayout"> -->
<!--             <param name="ConversionPattern" value="%d{ABSOLUTE} | %-5.5p | %X{routeId} %X{bundle.version} | %X{exchangeId} | %m%n" /> -->
<!--         </layout> -->
<!--     </appender> -->
	
	<logger name="org.hibernate" additivity="false">
	  <level value="info" />
	  <appender-ref ref="logfileall" />
	  <appender-ref ref="ERROR"/>
	</logger>
	  
	<logger name="org.springframework" additivity="false">
	  <level value="info" />
	  <appender-ref ref="logfileall" />
	  <appender-ref ref="ERROR"/>
	</logger>

	<logger name="org.apache.camel" additivity="false">
	  <level value="info" />
	  <appender-ref ref="logfileall" />
	  <appender-ref ref="ERROR"/>
	</logger>

	<logger name="com.livescribe" additivity="false">
	  <level value="debug" />
	  <appender-ref ref="logfileall"/>
	  <appender-ref ref="ERROR"/>
	</logger>

	<logger name="com.livescribe.afp" additivity="false">
	  <level value="debug" />
	  <appender-ref ref="logfileall"/>
	  <appender-ref ref="APP"/>
	  <appender-ref ref="ERROR"/>
	</logger>

	<logger name="org.kfm.camel" additivity="false">
	  <level value="debug" />
	  <appender-ref ref="logfileall"/>
	  <appender-ref ref="APP"/>
	  <appender-ref ref="ERROR"/>
	</logger>

	<logger name="openjpa.Runtime">
		<level value="trace" />
	</logger>
	
	<root>
	  <priority value="error" />
	  <appender-ref ref="ERROR" />
	</root>
        
</log4j:configuration>
