<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File"
			value="/Livescribe/Tomcat/Logs/lsreg-${logfile}-error.log" />
		<param name="Threshold" value="error" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%25c{1} [%15.15t]] - %m%n" />
		</layout>
	</appender>

	<appender name="logfileall" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File"
			value="/Livescribe/Tomcat/Logs/lsreg-${logfile}-all.log" />
		<param name="Threshold" value="debug" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%25c{1} [%15.15t]]  - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter> 
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

    <appender name="APP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/Livescribe/Tomcat/Logs/lsreg-${logfile}-app.log" />
        <param name="Threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%25c{1}] - %m%n" />
        </layout>
    </appender>

	<!-- Graylog2 Appender -->
<!--     <appender name="gelf" class="org.graylog2.log.GelfAppender"> -->
<!--         <param name="graylogHost"	value="graylog.livescribe.com" /> -->
<!--         <param name="originHost"	value="${logfile}" /> -->
<!--         <param name="addExtendedInformation" value="true" /> -->
<!--         <param name="facility"	value="Service Name" /> -->
<!--         <param name="Threshold"	value="info" /> -->
<!--         <param name="additionalFields" value="{'Environment': '${ENV}'}" /> -->
<!--         <param name="extractStacktrace" value="true" /> -->
<!--         <layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%25c{1} [%15.15t]] - %m%n" /> -->
<!--         </layout> -->
<!--     </appender> -->

	<logger name="org.hibernate" additivity="false">
		<level value="${loglevel3rd}" />
		<appender-ref ref="logfileall" />
		<appender-ref ref="ERROR"/>
	</logger>
	  
	<logger name="org.springframework" additivity="false">
		<level value="${loglevel3rd}" />
		<appender-ref ref="logfileall" />
		<appender-ref ref="ERROR"/>
	</logger>

	<logger name="com.livescribe" additivity="false">
		<level value="${loglevel}" />
		<appender-ref ref="logfileall" />
		<appender-ref ref="APP"/>
<!-- 		<appender-ref ref="gelf"/> -->
		<appender-ref ref="ERROR"/>
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="ERROR" />
<!-- 		<appender-ref ref="gelf"/> -->
	</root>

</log4j:configuration>
